body{
    background-color: #faf9f9;
    font-family: 'Open Sans', sans-serif;
}
h1{
    text-align: center;
    color: #3d312c;
    font-size: 5vh;
}
header{
    width: 100vw;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.01);
}
button{
    width: 45vw; 
    font-size: 5vh;
    border-radius: 20px;
    background: none;
    border: 2px solid #d8d8d8;
    transition: .3s;   
    margin-top: 35vh;
}
button:focus{
    background: white;
}
.but{
    text-align: center;
}
ul{
    background-color: none;
    margin-left: 0;
    padding-left: 0;
}
li{
    padding: 4vh 0;
    font-size: 3vh;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid black;
}
.foo{
    background: rgba(104, 211, 104, 0.13)
}